<div class="single-comment col-lg-12 no-padding">
    <div class="col-lg-1">
        <img src="{{ get_user_image(comment.author)|apply_filter('comment_picture') }}" class="comment-picture"/>
    </div>
    <div class="col-lg-11">
        <div class="col-lg-1 orange-text">
            {{ comment.author.username }}
        </div>
        <div class="col-lg-2 gray-text">
            {{ comment.createdAt|date('M d, Y H:i') }}
        </div>
        <div class="col-lg-12 mt-20 mb-30 comment-text">
            {{ comment|nl2br }}
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if comment.canBeRemoved(app.user) %}
                <i class="icon icon-remove-circle remove-comment" 
                   data-remove-link="{{ path('duedinoi_remove_comment', {id: comment.id}) }}"
                   data-confirm-message="{{ 'confirm.remove_comment'|trans }}">
                </i>
            {% endif %}
        {% endif %}
    </div>
</div>