<div class="menu-wrap {{ app.request.get('_route') in ['duedinoi_web_homepage'] ? 'homepage' : '' }}">
    <div class="not-logged" id="header">

        <h1 class="" id="logo">
            {% set url_path = path('duedinoi_web_homepage') %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% set url_path = path('duedinoi_dashboard') %}
            {% endif %}
            <a href="{{ url_path }}">
                <img alt="Duedinoi" src="{{ asset("bundles/duedinoiweb/images/duedinoi-logo.png") }}" class="big-logo">
            </a>
        </h1>0
        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            <div class="dropdown pull-right mt-10">
                <button class="btn default-button dropdown-toggle no-border" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <img src="{{ get_user_image(app.user)|apply_filter('comment_picture') }}" class="header-picture"/>
                    {{ app.user }}
                    <span class="icon icon-caret-down"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon icon-power-off"></i>   {{ 'logout'|trans }}</a></li>
                    
                </ul>
            </div>
        {% else %}
            <ul id="nav">
                <li>
                    <a href="{{ path('fos_user_security_login') }}">{{ 'register.login'|trans }}</a>
                </li>
            </ul>
            <span class="already-account">{{ 'register.already_have_account'|trans }}</span>
        {% endif %}
    </div><!-- ends header -->
</div>