<div class="user-item col-lg-2">
    <img class="picture-circle" src="{{ asset(get_user_image(user)) }}"/>
    <span class="user-name clearfix">{{ user.username }}</span>
    <p class="user-age clearfix">{{ user.age }} {{ 'default.years'|trans }}</p>
    <p class="user-location clearfix">{{ 'Iasi' }}</p>
</div>