{% extends 'DuedinoiAdminBundle::layout.html.twig' %}

{% block content %}
<div class="wrapper">
    <div class="panel panel-default panel-block">
        <div id="data-table" class="panel-heading datatable-heading col-lg-12">
            <div class="title col-lg-8">
                <h4 class="section-title">Recruited Members List</h4>
                <a href="{{ path('recruitedmember_new') }}" class="add">
                    <i class="icon-plus-sign"></i>
                    <span>
                        ADD NEW
                    </span>
                </a>
            </div>
            <form class="input-group col-lg-4 pull-right" method="get">
                <input class="form-control" type="text" name="search">
                <div class="input-group-btn">
                    <button class="btn btn-default btn-search" type="button"><i class="icon-search"></i></button>
                </div>
            </form>
        </div>
        <div id="tableSortable_wrapper" class="dataTables_wrapper form-inline" role="grid">
            <table aria-describedby="tableSortable_info" class="table table-bordered table-striped dataTable" id="tableSortable">
                <thead>
                    <tr role="row">
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting_asc">Id</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Nickname</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Email</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Recruiter</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Converter</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Age</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Location</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Site Name</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Added On</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Comments</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Actions</th>
                    </tr>
                </thead>

                <tbody aria-relevant="all" aria-live="polite" role="alert">
                {% for member in entities %}
                    <tr class="gradeA {% if loop.index % 2 == 1  %} odd {% else %} even {% endif %}">
                        <td class="sorting_1">{{ member.id }}</td>
                        <td class=" ">{{ member.siteUser|default('-') }}</td>

                        <td class=" ">{{ member.email|default('-') }}</td>
                        <td class=" ">{{ member.recruiter|default('-') }}</td>
                        <td class=" ">{{ member.converter|default('-') }}</td>
                        <td class=" ">{{ member.age|default('-') }}</td>
                        <td class=" ">{{ member.location|default('-') }}</td>
                        <td class=" ">{{ member.siteName|default('-') }}</td>
                        <td class=" ">{{ member.createdAt|date('M d, Y') }}</td>
                        <td class=" ">{{ member.comments|default() }}</td>
                        <td class="center ">
                            <a class="btn btn-success" href="{{ path('recruitedmember_edit', {id: member.id}) }}">Edit</a>
                            <form class="index-delete-form" method="post" action="{{ path('recruitedmember_delete', {id: member.id}) }}" {{ form_enctype(delete_forms[member.id]) }}>
                                {{ form_widget(delete_forms[member.id]) }}
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row table-footer-row">
                <div class="col-sm-12">
                    <div class="pull-left">
{#                        <div id="tableSortable_info" class="dataTables_info"></div>#}

                    </div>
                    <div class="pull-right">
                        <div class="dataTables_paginate paging_bs_normal">
                        {{ knp_pagination_render(entities) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
