{% extends 'DuedinoiAdminBundle::layout.html.twig' %}

{% block content %}
    
    <script>
        var MenuItemRemoveUrl = "{{ path('menu_remove_item') }}";
        var getEditModalUrl = "{{ path('menu_edit_modal') }}";
    </script>
    
<div class="wrapper">
        {% if app.session.getFlashBag.has('notice') %}
        <div id="Sortable_Responsive_Media_Table" class="row-fluid">
	   <div class="span12 span-table-title">
                <div class="alert alert-info alert-block">
                {% for notice in app.session.getFlashBag.get('notice') %}
                    <i class="icon-alert icon-alert-info"></i>
                    <strong>{{ notice }}</strong>
                {% endfor %}
        	</div>
	   </div>
	</div>
        {% endif %}
			   
    <div class="panel panel-default panel-block">
        <div class="list-group">
            <div id="input-fields-horizontal" class="list-group-item">
                <h4 class="section-title">Edit {{ entity }} menu</h4>
                <form method="post" action="{{ path('menu_update',{id: edit_form.vars.value.id}) }}" {{ form_enctype(edit_form) }} class="form-horizontal" role="form" novalidate>
                    {% include 'DuedinoiAdminBundle:Component:error_panel.html.twig' with { form: edit_form } %}
                    
                    <div class="form-group">
                        {{ form_label(edit_form.name) }}
                        <div class="col-lg-8">
                            {{ form_widget(edit_form.name) }}
                        </div>
                    </div>
                    {{ form_rest(edit_form) }}
                    {#<ol id="menu-sortable">
                        {% for menu_item in menu_items %}
                            <li id="item-{{ menu_item.id }}">
                                <div rel="tooltip" data-original-title="undefined">
                                    {{ menu_item }}
                                </div>
                            </li>
                        {% endfor %}
                    </ol>#}
                    {{ get_admin_menu_sortable(edit_form.vars.value, 'menu-sortable')|raw }}
                    
                    <div class="form-group">
                        <div class="col-lg-4">
                            <input class="form-control" type="text" name="menu_item" id="menu_item"/>
                        </div>
                            <button class="btn btn-info" id="add-menu-item" data-href="{{ path('menu_add_item', {id: edit_form.vars.value.id}) }}">Add item</button>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-lg-8">
                            <button class="btn btn-success" id="update-form" data-url="{{ path('menu_update',{id: edit_form.vars.value.id}) }}">Edit</button>
                        </div>
                    </div>
                </form>
                <form id="delete-form" method="post" action="{{ path('menu_delete', {id: entity.id}) }}" {{ form_enctype(delete_form) }}>
                    {{ form_widget(delete_form) }}
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="append-edit-modal" class="form-group"></div>
{#{% include 'DuedinoiAdminBundle:Component:modal.html.twig' with {id: 'modal', content: 'asd'} %}#}
{% endblock %}
