{% extends 'IogAdminBundle::layout.html.twig' %}

{% block content %}
{% include "IogAdminBundle:Component:search_bar.html.twig" %}
    <h1>Page</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ entity.path }}</td>
            </tr>
            <tr>
                <th>Seotitle</th>
                <td>{{ entity.seoTitle }}</td>
            </tr>
            <tr>
                <th>Seo_description</th>
                <td>{{ entity.seodescription }}</td>
            </tr>
            <tr>
                <th>Seo_keywords</th>
                <td>{{ entity.seokeywords }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ entity.updatedat|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('page') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('page_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
