{% extends 'DuedinoiAdminBundle::layout.html.twig' %}

{% block content %}
<div class="wrapper extended retracted">
    <div class="panel panel-default panel-block">
        <div id="data-table" class="panel-heading datatable-heading col-lg-12">
            <div class="title col-lg-8">
                <h4 class="section-title">Setting List</h4>
                <a href="{{ path('setting_new') }}" class="add">
                    <i class="icon-plus-sign"></i>
                    <span>
                        ADD NEW
                    </span>
                </a>
            </div>
            <div class="input-group col-lg-4 pull-right">
                <input class="form-control" type="text">
                <div class="input-group-btn">
                    <button class="btn btn-default btn-search" type="button"><i class="icon-search"></i></button>
                </div>
            </div>
        </div>
        <div id="tableSortable_wrapper" class="dataTables_wrapper form-inline" role="grid">
            <table aria-describedby="tableSortable_info" class="table table-bordered table-striped dataTable" id="tableSortable">
                <thead>
                    <tr role="row">
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting_asc">Id</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Name</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Value</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Description</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Actions</th>
                    </tr>
                </thead>

                <tbody aria-relevant="all" aria-live="polite" role="alert">
                {% for menu in entities %}
                    <tr class="gradeA {% if loop.index % 2 == 1  %} odd {% else %} even {% endif %}">
                        <td class="sorting_1">{{ menu.id }}</td>
                        <td class=" ">{{ menu.title|default('-')  }}</td>
                        <td class=" ">{{ menu.value }}</td>
                        <td class=" ">{{ menu.description }}</td>
                        <td class="center ">
                            <a class="btn btn-success" href="{{ path('setting_edit', {id: menu.id}) }}">Edit</a>
                            <form class="index-delete-form" method="post" action="{{ path('menu_delete', {id: menu.id}) }}" {{ form_enctype(delete_forms[menu.id]) }}>
                                {{ form_widget(delete_forms[menu.id]) }}
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row table-footer-row">
                <div class="col-sm-12">
                    <div class="pull-left">
{#                        <div id="tableSortable_info" class="dataTables_info"></div>#}

                    </div>
                    <div class="pull-right">
                        <div class="dataTables_paginate paging_bs_normal">
                        {{ knp_pagination_render(entities) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
