{% extends 'DuedinoiAdminBundle::layout.html.twig' %}

{% block content %}
<div class="wrapper">
    <div class="panel panel-default panel-block">
        <div class="list-group">
            <div id="input-fields-horizontal" class="list-group-item">
                <h4 class="section-title">Create new menu</h4>
                <form method="post" action="{{ path('setting_create') }}" {{ form_enctype(form) }} class="form-horizontal" role="form" novalidate>
                    {% include 'DuedinoiAdminBundle:Component:error_panel.html.twig' with { form: form } %}
                    
                    <div class="form-group">
                        {{ form_label(form.name) }}
                        <div class="col-lg-8">
                            {{ form_widget(form.name) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.value) }}
                        <div class="col-lg-8">
                            {{ form_widget(form.value) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.description) }}
                        <div class="col-lg-8">
                            {{ form_widget(form.description) }}
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    <div class="form-group">
                        <div class="col-lg-8">
                            <button class="btn btn-success">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
