{% extends "DuedinoiWebBundle::layout.html.twig" %}

{% block content %}
    {% include 'DuedinoiWebBundle:Component:header.html.twig' %}
    {% include "DuedinoiWebBundle:Component:top_menu.html.twig" %}
    <div class="container-fluid egg-green">
        <div class="container no-margin-top">
            <div class="col-lg-3 pull-left search-box">
                <form class="col-lg-12 no-padding pull-left" method="post" action="">
                    <h3 class="center">{{ 'search.title'|trans }}</h3>
                    <div class="col-lg-12 no-padding">
                        <span class="col-lg-12 no-padding"> {{ 'search.subtitle'|trans }}</span>
                        <div class="col-lg-6 no-padding">
                            {{ form_row(searchForm.minAge) }}
                        </div>
                        <div class="col-lg-6 no-padding">
                            {{ form_row(searchForm.maxAge) }}
                        </div>
                    </div>
                    <div class="col-lg-12 no-padding">
                        {{ form_row(searchForm.withPhoto) }}
                    </div>
                    <div class="col-lg-12 no-padding">
                        {{ form_row(searchForm.online) }}
                    </div>
                    <button class="button green-button custom-padding">{{ 'contact.submit'|trans }}</button>
                </form>
                <form class="col-lg-12 no-padding pull-left " method="post" action="">
                    <h3 class="center">{{ title }}</h3>
                    <div class="col-lg-12 no-padding">
                        {{ form_row(nameForm.username) }}
                    </div>
                    <button class="button green-button custom-padding">{{ 'contact.submit'|trans }}</button>
                </form>
                
            </div>
            
            <div class="col-lg-9">
                <h3 class="page-title col-lg-12 no-padding">
                    {{ title }}
                </h3>
                {% if activeUsers|length %}
                    {% for user in activeUsers %}
                        {% include "DuedinoiWebBundle:Component:active_user.html.twig" %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}