{% extends "DuedinoiWebBundle::layout.html.twig" %}

{% block content %}
    {% include 'DuedinoiWebBundle:Component:header.html.twig' %}
    {% include "DuedinoiWebBundle:Component:top_menu.html.twig" %}
    <div class="container-fluid egg-green">
        <div class="container no-margin-top">
            <h3 class="page-title col-lg-12">
                {{ 'title.edit_profile'|trans }}
            </h3>
            <form method="post" class="col-lg-12 edit-profile no-padding" action="{{path('duedinoi_edit_profile') }}">
                <div class="col-lg-12 no-padding">
                    <div class="col-lg-4">
                        <div class="form-row">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username) }}
                            {{ form_errors(form.username) }}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-row">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-row">
                            {{ form_label(form.gender) }}
                            {{ form_widget(form.gender) }}
                            {{ form_errors(form.gender) }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 no-padding">
                    <div class="col-lg-4">
                        <div class="form-row">
                            {{ form_label(form.relationship) }}
                            {{ form_widget(form.relationship) }}
                            {{ form_errors(form.relationship) }}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-row">
                            {{ form_label(form.country) }}
                            {{ form_widget(form.country) }}
                            {{ form_errors(form.country) }}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-row">
                            {{ form_label(form.city) }}
                            {{ form_widget(form.city) }}
                            {{ form_errors(form.city) }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 no-padding">
                    <div class="col-lg-4">
                        <div class="form-row small-select">
                            {{ form_label(form.dateOfBirth) }}
                            {{ form_widget(form.dateOfBirth) }}
                            {{ form_errors(form.dateOfBirth) }}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-row">
                            {{ form_label(form.sign) }}
                            {{ form_widget(form.sign) }}
                            {{ form_errors(form.sign) }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-row">
                        {{ form_label(form.hobby) }}
                        {{ form_widget(form.hobby) }}
                        {{ form_errors(form.hobby) }}
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-row">
                        {{ form_label(form.studies) }}
                        {{ form_widget(form.studies) }}
                        {{ form_errors(form.studies) }}
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-row">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description) }}
                        {{ form_errors(form.description) }}
                    </div>
                </div>
                <div class="col-lg-12 no-padding">
                    <div class="col-lg-4">
                        <div class="form-row">
                            {{ form_label(form.current_password) }}
                            {{ form_widget(form.current_password) }}
                            {{ form_errors(form.current_password) }}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-row">
                            {{ form_label(form.plainPassword.first) }}
                            {{ form_widget(form.plainPassword.first) }}
                            {{ form_errors(form.plainPassword.first) }}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-row">
                            {{ form_label(form.plainPassword.second) }}
                            {{ form_widget(form.plainPassword.second) }}
                            {{ form_errors(form.plainPassword.second) }}
                        </div>
                    </div>
                    {{ form_rest(form) }}
                </div>
                <div class="form-buttons col-lg-12">
                    <button class="button green-button custom-padding">{{ 'submit'|trans }}</button>
                    <a href="#" class="orange-text custom-margin remove-account confirm-action" data-confirm-message="{{ 'profile.remove_confirmation'|trans }}">{{ 'remove_account'|trans }}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}