{% extends "DuedinoiWebBundle::layout.html.twig" %}

{% block body_class %}landing-page{% endblock %}
{% block content %}
    <div class="background-page">
        <img class="bg" src="{{ asset("bundles/duedinoiweb/images/duedinoi-hero-image.jpg") }}">
        {% include 'DuedinoiWebBundle:Component:header.html.twig' %}
        <div class="clearfix" id="page">
            <div class="intro-wrap">
                <div id="intro">
                    <h3 style="font-size:41px;font-weight:bold;">{{ 'homepage.left_title'|trans }}</h3>
                    <span>{{ 'homepage.left_content'|trans }}</span>
                </div>
            </div>
            <div class="sign-up clearfix" id="content">
                <div class="c-header">
                    <h3>{{ 'register.signup_header'|trans }}</h3>
                </div>

                <form method="post" action="{{ path('duedinoi_web_homepage') }}" autocomplete="off" class="c-main" id="form-sign-up">
                    <fieldset>
                        <div class="form-row">
                            {{ form_errors(form.username) }}
                            {{ form_widget(form.username) }}
                        </div>
                        <div class="form-row">
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email) }}
                        </div>
                        <div class="form-row">
                            {{ form_errors(form.plainPassword) }}
                            {{ form_widget(form.plainPassword) }}
                        </div>
                        <div class="form-row">
                            {{ form_errors(form.dateOfBirth) }}
                            {{ form_widget(form.dateOfBirth) }}
                        </div>
                        <div class="form-row">
                            {{ form_errors(form.gender) }}
                            <div class="col-lg-6">
                                {{ form_widget(form.gender.0) }}
                                {{ form_label(form.gender.0) }}
                            </div>
                            <div class="col-lg-6">
                                {{ form_widget(form.gender.1) }}
                                {{ form_label(form.gender.1) }}
                            </div>
                        </div>
                        <div class="form-row full-width">
                            {{ form_errors(form.country) }}
                            {{ form_widget(form.country) }}
                        </div>
                        <div class="form-row full-width">
                            {{ form_errors(form.city) }}
                            {{ form_widget(form.city) }}
                        </div>
                        {{ form_rest(form) }}
                        <button type="submit" class="btn green big">{{ 'register.submit_button'|trans }}</button>
                    </fieldset>
                </form>
                {#<span>{{ 'register.terms_conditions'|trans|raw }}</span>#}
            </div>
            <!--ends content -->
        </div>
    </div>
    <div class="info-block container">
        <div class="col-lg-6 col-md-6 col-xs-6 text-center">
            <img src="{{ asset('bundles/duedinoiweb/images/duedinoi-icon-1.png') }}"/>
            <h3>{{ 'homepage.middle_1_title'|trans }}</h3>
            <p>{{ 'homepage.middle_1_content'|trans }}</p>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6 text-center">
            <img src="{{ asset('bundles/duedinoiweb/images/duedinoi-icon-2.png') }}"/>
            <h3>{{ 'homepage.middle_2_title'|trans }}</h3>
            <p>{{ 'homepage.middle_2_content'|trans }}</p>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6 text-center">
            <img src="{{ asset('bundles/duedinoiweb/images/duedinoi-icon-3.png') }}"/>
            <h3>{{ 'homepage.middle_3_title'|trans }}</h3>
            <p>{{ 'homepage.middle_3_content'|trans }}</p>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6 text-center">
            <img src="{{ asset('bundles/duedinoiweb/images/duedinoi-icon-4.png') }}"/>
            <h3>{{ 'homepage.middle_4_title'|trans }}</h3>
            <p>{{ 'homepage.middle_4_content'|trans }}</p>
        </div>
    </div>
    <div class="last-registered">
        <div class="container text-center">
            <h3>{{ 'homepage.last_registered_title'|trans }}</h3>
            {% for user in users %}
                {% include "DuedinoiWebBundle:Component:homepage_user.html.twig" with {user: user} %}
            {% endfor %}
        </div>
    </div>
    <div class="second-hero">
        <div class="text-center">
            <h3>{{ 'homepage.second_hero'|trans }}</h3>
            <a href="{{ path('fos_user_registration_register') }}" class="btn green big">{{ 'default.register'|trans }}</a>
        </div>
    </div>
{% endblock %}