{% extends "DuedinoiWebBundle::layout.html.twig" %}

{% block content %}
    {% include 'DuedinoiWebBundle:Component:header.html.twig' %}
    {% include "DuedinoiWebBundle:Component:top_menu.html.twig" %}
    <div class="container-fluid egg-green">
        <div class="container">
            <div class="col-lg-4 profile-picture-large no-padding">
                <ul class="secondary-photos">
                    {% if user.photos|length %}
                        {% for photo in user.photos %}
                            <li class="" data-thumb="{{ asset(photo.webPath)|apply_filter('user_thumb') }}">
                                <img src="{{ asset(photo.webPath)|apply_filter('profile_picture') }}"/>
                            </li>
                        {% endfor %}
                    {% else %}
                        <ul class="secondary-photos">
                           <li class="" data-thumb="{{ get_user_image(user)|apply_filter('user_thumb') }}">
                                <img src="{{ get_user_image(user)|apply_filter('profile_picture') }}"/>
                            </li> 
                        </ul>
                    {% endif %}
                </ul>
                {% if app.user.isSameUser(user) %}
                    <a href="{{ path('duedinoi_edit_profile') }}" class="btn btn-default full-width">{{ 'profile.edit'|trans }}</a>
                {% endif %}
            </div>
            <div class="col-lg-6">
                <h3 class="col-lg-12">{{ user.username }}</h3>
                <div class="col-lg-12">
                    <p class="orange-text col-lg-4"> {{ 'profile.gender'|trans }}</p>
                    <p class="col-lg-8">{{user.profile.getGenderString|trans }}</p>
                </div>
                <div class="col-lg-12">
                    <p class="orange-text col-lg-4"> {{ 'profile.relationship'|trans }}</p>
                    <p class="col-lg-8">{{user.profile.relationshipStatus|trans }}</p>
                </div>
                <div class="col-lg-12">
                    <p class="orange-text col-lg-4"> {{ 'profile.city'|trans }}</p>
                    <p class="col-lg-8">{{user.profile.city|default()}}</p>
                </div>
                <div class="col-lg-12">
                    <p class="orange-text col-lg-4"> {{ 'profile.birthday'|trans }}</p>
                    <p class="col-lg-8">{{user.profile.dateOfBirth|date('m/d/Y')|default()}}</p>
                </div>
                <div class="col-lg-12">
                    <p class="orange-text col-lg-4"> {{ 'profile.hobby'|trans }}</p>
                    <p class="col-lg-8">{{user.profile.hobby|striptags|nl2br}}</p>
                </div>
                <div class="col-lg-12">
                    <p class="orange-text col-lg-4"> {{ 'profile.sign'|trans }}</p>
                    <p class="col-lg-8">{{user.profile.signString|trans }}</p>
                </div>
                <div class="col-lg-12">
                    <p class="orange-text col-lg-4"> {{ 'profile.study'|trans }}</p>
                    <p class="col-lg-8">{{user.profile.studies|default() }}</p>
                </div>
                <div class="col-lg-12">
                    <p class="orange-text col-lg-4"> {{ 'profile.description'|trans }}</p>
                    <p class="col-lg-8">{{user.profile.description|default() }}</p>
                </div>
            </div>
            {% if not app.user.isSameUser(user) %}
                {% include "DuedinoiWebBundle:Component:profile_actions.html.twig" %}
            {% endif %}
            {% if user.activeComments|length %}
                <div class="col-lg-12 no-padding">
                    <h3>{{ 'profile.comments'|trans }}</h3>
                    {% for comment in user.activeComments %}
                        {% include "DuedinoiWebBundle:Component:comment.html.twig" %}
                    {% endfor %}
                    {% if form is defined %}
                        {% include 'DuedinoiWebBundle:Component:comment_form.html.twig' %}
                    {% endif %}
                </div>
            {% endif %}
            {% if activeUsers|length %}
                <div class="col-lg-12 no-padding">
                    <h3 class="page-title col-lg-12 no-padding">
                        {{ 'title.active_users'|trans }}
                    </h3>
                    {% for user in activeUsers %}
                        {% include "DuedinoiWebBundle:Component:active_user.html.twig" %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}