{% extends "DuedinoiWebBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter="?yui_css, cssrewrite"
          %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen">
        {% endstylesheets %}
{% endblock %}
{% block content %}
    {% include 'DuedinoiWebBundle:Component:header.html.twig' %}
    {% include "DuedinoiWebBundle:Component:top_menu.html.twig" %}
    <div class="container-fluid egg-green">
        <div class="container no-margin-top">
            <section class="chat center">
                <div class="streams">
                    <div class="localControls">
                        <span id="callerName"></span><br>
                        <video id="localVideo"></video>
                        <div class="mediacall-controls l-flexbox l-flexbox_flexcenter">
                            <button class="btn_mediacall btn_camera_off" data-action="mute" disabled><img class="btn-icon_mediacall" src="{{  asset('bundles/duedinoiweb/images/icon-camera-off.png') }}" alt="camera"></button>
                            <button class="btn_mediacall btn_mic_off" data-action="mute" disabled><img class="btn-icon_mediacall" src="{{  asset('bundles/duedinoiweb/images/icon-mic-off.png') }}" alt="mic"></button>
                        </div>
                    </div>
                    <div class="remoteControls">
                        <span id="calleeName"></span><br>
                        <video id="remoteVideo"></video>
                    </div>
                </div>
                <div class="controls">
                    <button id="audiocall" type="button" class="btn btn-default">
                        <img class="icon-audiocall" src="{{  asset('bundles/duedinoiweb/images/icon-audiocall.png') }}" alt="QuickBlox Samples">Audio call
                    </button>
                    <button id="videocall" type="button" class="btn btn-default">
                        <img class="icon-videocall" src="{{  asset('bundles/duedinoiweb/images/icon-videocall.png') }}" alt="QuickBlox Samples">Video call
                    </button>
                    <button id="hangup" type="button" class="btn btn-default" disabled>
                        <img class="icon-hangup" src="{{  asset('bundles/duedinoiweb/images/icon-hangup.png') }}" alt="QuickBlox Samples">Hangup
                    </button>
                </div>
            </section>

            <audio id="callingSignal" loop>
                <source src="{{  asset('bundles/duedinoiweb/audio/calling.ogg') }}"></source>
                <source src="{{  asset('bundles/duedinoiweb/audio/calling.mp3') }}"></source>
            </audio>

            <audio id="ringtoneSignal" loop>
                <source src="{{  asset('bundles/duedinoiweb/audio/ringtone.ogg') }}"></source>
                <source src="{{  asset('bundles/duedinoiweb/audio/ringtone.mp3') }}"></source>
            </audio>

            <audio id="endCallSignal">
                <source src="{{  asset('bundles/duedinoiweb/audio/end_of_call.ogg') }}"></source>
                <source src="{{  asset('bundles/duedinoiweb/audio/end_of_call.mp3') }}"></source>
            </audio>

            <div class="push"></div>
        </div>
    </div>
    <section id="incomingCall" class="incoming modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="info-notice"><span class="incoming-callType"></span> Call from <span class="caller"></span></span>
                </div>
                <div class="modal-body">
                    <div class="incoming-call-controls l-flexbox l-flexbox_flexcenter">
                        <button id="reject" class="btn btn-default btn_decline">Decline</button>
                        <button id="accept" class="btn btn-default btn_accept">Accept</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        var sameUser = false;
        caller = {
            id: '8133257',
            full_name: '{{ app.user.username }}',
            login: 'user1',
            password: 'user1user1'
        };
        callee = {
            id: 8133278,
            full_name: '{{ user.username }}',
            login: 'user2',
            password: 'user2user2'
        };
    </script>
    {% javascripts filter="?yui_js"
            "@DuedinoiWebBundle/Resources/public/js/quickblox.min.js"
            "@DuedinoiWebBundle/Resources/public/js/config.js"
            "@DuedinoiWebBundle/Resources/public/js/chat.js"
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}