{% extends 'DuedinoiAdminBundle::layout.html.twig' %}

{% block content %}
<div class="wrapper">
    {% if app.session.getFlashBag.has('notice') %}
        <div id="Sortable_Responsive_Media_Table" class="row-fluid">
	   <div class="span12 span-table-title">
                <div class="alert alert-info alert-block">
                {% for notice in app.session.getFlashBag.get('notice') %}
                    <i class="icon-alert icon-alert-info"></i>
                    <strong>{{ notice }}</strong>
                {% endfor %}
        	</div>
	   </div>
	</div>
    {% endif %}
    <div class="panel panel-default panel-block">
        <div id="data-table" class="panel-heading datatable-heading col-lg-12">
            <div class="title col-lg-8">
                <h4 class="section-title">Mass Message List</h4>
                <a href="{{ path('massmessage_new') }}" class="add">
                    <i class="icon-plus-sign"></i>
                    <span>
                        ADD NEW
                    </span>
                </a>
            </div>
            <div class="input-group col-lg-4 pull-right">
                <input class="form-control" type="text">
                <div class="input-group-btn">
                    <button class="btn btn-default btn-search" type="button"><i class="icon-search"></i></button>
                </div>
            </div>
        </div>
        <div id="tableSortable_wrapper" class="dataTables_wrapper form-inline" role="grid">
            <table aria-describedby="tableSortable_info" class="table table-bordered table-striped dataTable" id="tableSortable">
                <thead>
                    <tr role="row">
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting_asc">Receiver</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Message</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Actions</th>
                    </tr>
                </thead>

                <tbody aria-relevant="all" aria-live="polite" role="alert">
                {% for entity in entities %}
                    <tr class="gradeA {% if loop.index % 2 == 1  %} odd {% else %} even {% endif %}">
                        <td class=" ">{{ entity.receiver|default('-')  }}</td>
                        <td class=" ">
                            {% if entity.message|length > 50 %}
                                {{ entity.message|slice(0, 50)  }}...
                            {% else %}
                                {{ entity.message }}
                            {% endif %}
                        </td>
                        <td class="center">
                            <a class="btn btn-success" href="{{ path('duedinoi_thread', {userslug: entity.receiver.slug}) }}">See Thread</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row table-footer-row">
                <div class="col-sm-12">
                    <div class="pull-left">
{#                        <div id="tableSortable_info" class="dataTables_info"></div>#}

                    </div>
                    <div class="pull-right">
                        <div class="dataTables_paginate paging_bs_normal">
                        {{ knp_pagination_render(entities) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
