{% extends 'DuedinoiAdminBundle::layout.html.twig' %}

{% block content %}
<div class="wrapper">
    <div class="panel panel-default panel-block">
        <div class="list-group">
            <div id="input-fields-horizontal" class="list-group-item">
                <h4 class="section-title">Edit user {{ entity }}</h4>
                <form method="post" action="{{ path('user_update', {id: edit_form.vars.value.id}) }}" {{ form_enctype(edit_form) }} class="form-horizontal" role="form" novalidate>
                    {% include 'DuedinoiAdminBundle:Component:error_panel.html.twig' with { form: edit_form } %}
                    <div class="form-group">
                        {{ form_label(edit_form.username) }}
                        <div class="col-lg-8">
                            {{ form_widget(edit_form.username) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.email) }}
                        <div class="col-lg-8">
                            {{ form_widget(edit_form.email) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.enabled) }}
                        <div class="col-lg-8">
                            {{ form_widget(edit_form.enabled) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.recruiter) }}
                        <div class="col-lg-8">
                            {{ form_widget(edit_form.recruiter) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.referral) }}
                        <div class="col-lg-8">
                            {{ form_widget(edit_form.referral) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.converter) }}
                        <div class="col-lg-8">
                            {{ form_widget(edit_form.converter) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.role) }}
                        <div class="col-lg-8">
                            {{ form_widget(edit_form.role) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.dateOfBirth) }}
                        <div class="col-lg-8">
                            {{ form_widget(edit_form.dateOfBirth) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.gender) }}
                        <div class="col-lg-8">
                            {{ form_widget(edit_form.gender) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.country) }}
                        <div class="col-lg-8">
                            {{ form_widget(edit_form.country) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(edit_form.city) }}
                        <div class="col-lg-8">
                            {{ form_widget(edit_form.city) }}
                        </div>
                    </div>
                    {{ form_rest(edit_form) }}
                    <div class="form-group">
                        <div class="col-lg-8">
                            <button class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
                <form id="delete-form" method="post" action="{{ path('user_delete', {id: entity.id}) }}" {{ form_enctype(delete_form) }}>
                    {{ form_widget(delete_form) }}
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
