{% extends 'DuedinoiAdminBundle::layout.html.twig' %}

{% block content %}
<div class="wrapper extended retracted">
    <div class="panel panel-default panel-block">
        <div id="data-table" class="panel-heading datatable-heading col-lg-12">
            <div class="title col-lg-8">
                <h4 class="section-title">User List</h4>
            </div>
            <div class="input-group col-lg-4 pull-right">
                <input class="form-control" type="text">
                <div class="input-group-btn">
                    <button class="btn btn-default btn-search" type="button"><i class="icon-search"></i></button>
                </div>
            </div>
        </div>
        <div id="tableSortable_wrapper" class="dataTables_wrapper form-inline" role="grid">
            <table aria-describedby="tableSortable_info" class="table table-bordered table-striped dataTable" id="tableSortable">
                <thead>
                    <tr role="row">
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting_asc">Id</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Nickname</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Email</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Gender</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Recruiter</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Converter</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Referral</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Status</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Type</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Signup</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Confirm</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">IP Address</th>
                        <th colspan="1" rowspan="1" aria-controls="tableSortable" tabindex="0" role="columnheader" class="sorting">Actions</th>
                    </tr>
                </thead>

                <tbody aria-relevant="all" aria-live="polite" role="alert">
                {% for user in entities %}
                    <tr class="gradeA {% if loop.index % 2 == 1  %} odd {% else %} even {% endif %}">
                        <td class="sorting_1">{{ user.id }}</td>
                        <td class=" ">{{ user.username|default('-')  }}</td>
                        <td class="center ">{{ user.email }}</td>
                        <td class="center ">{{ user.genderAdmin }}</td>
                        <td class="center ">{{ user.recruiter|default() }}</td>
                        <td class="center ">{{ user.converter|default() }}</td>
                        <td class="center ">{{ user.referal|default() }}</td>
                        <td class="center "></td>
                        <td class="center ">{{ user.typeString }}</td>
                        <td class="center ">{{ user.isActiveNow ? 'Online' : 'Offline' }}</td>
                        <td class="center ">{{ user.createdAt|date('M d, Y') }}</td>
                        <td class="center ">{{ user.createdAt|date('M d, Y') }}</td>
                        <td class="center ">{{ user.ipAddress|default() }}</td>
                        <td class="center ">
                            <a class="btn btn-success" href="{{ path('user_edit', {id: user.id}) }}">Edit</a>
                            <form class="index-delete-form" method="post" action="{{ path('user_delete', {id: user.id}) }}" {{ form_enctype(delete_forms[user.id]) }}>
                                {{ form_widget(delete_forms[user.id]) }}
                                <button class="btn btn-danger">Delete</button>
                            </form>
                                <a class="btn btn-default" href="{{ path('duedinoi_dashboard', {_want_to_be_this_user: user.username}) }}">Impersonate</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row table-footer-row">
                <div class="col-sm-12">
                    <div class="pull-left">
{#                        <div id="tableSortable_info" class="dataTables_info"></div>#}

                    </div>
                    <div class="pull-right">
                        <div class="dataTables_paginate paging_bs_normal">
                        {{ knp_pagination_render(entities) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
